//Définition police
@font-face
{
    font-family: 'Atkinson';
    src: url('../fonts/AtkinsonHyperlegible-Regular.ttf') format('truetype');
}

#bloc_page, input, h1, h2, h3
{
    font-family: 'Atkinson';
}

//Supression mise en page auto liens
a
{
    text-decoration: none;
    color: black;
}

//Mise en page header
#Entete
{
    background-color: #F3E9F1;
    display: flex;
}

#Logosite
{
    width: 87%;
    .logo
    {    
        width: 40%;
    }
}

//Mise en page logo panier
#Panier
{
    width: 10%;
    display: flex;
    align-items: center;
    text-align: right;
    a
    {
        width: 100%;
    }
}

.fas
{
    font-size: 3.1em;
    background:linear-gradient(to bottom right, #E68A07, #8F5BFE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


//Mise en page Liste des categories
#Categorie
{
    border-bottom: solid;
    border-color: #F3E9F1;
    padding-bottom: 3%;
    h1
    {
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 2.5em;
        text-align: center;
        color: #8F5BFE;
    }
}

#ListeCategorie
{
    display: flex;
    justify-content: space-around;
    a
    {
        font-size: 1.3em;
    }
}

.CategorieProduit
{
    border-style: solid;
    border-color: #F3E9F1;
    background-color: #F3E9F1;
    border-radius: 20px;
    padding-left: 2%;
    padding-right: 2%;
}

.CategorieProduit:hover
{
    border-color: #8F5BFE;
    a
    {
        color: #8F5BFE;
    }
}

//Mise en page Meuble
#Meuble
{
    h2
    {
        font-size: 1.7em;
        padding-top: 1%;
    }
}

#listeproduits
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Legende
{
    display: flex;
    justify-content: space-between;
    p
    {
        padding-top: 10%;
        padding-right: 5%;
        font-size: 1.1em;
    }
}

.produit
{
    padding-top: 2%;
    padding-bottom: 2%;
    border: 1px solid;
    border-radius: 20px;
    background-color: #F3E9F1;
    border-color: #F3E9F1;
    display: flex;
    width: 35%;
    padding: 3px;
    box-shadow: 0 0 6px 3px #F2F2F2;
    margin: 10px 0 15px 0;
    img
    {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        object-fit: cover;
        width: 100%;
    }
    h3
    {
        font-size: 1.3em;
        padding-left: 6%;
        width: 100%;
    }
    input
    {
        margin-left: 70%;
        margin-bottom: 1%;
        display: flex;
        justify-content: right;
        background-color: white;
        color: #8F5BFE;
        border-style: solid;
        border-color: #8F5BFE;
        font-size: 1em;
        box-shadow: 0px 0px 8px 0px rgba(145, 145, 145, 0.6);
    }
    input:hover
    {
        box-shadow: 0px 0px 10px 0px rgba(30, 30, 30, 0.7);
    }
}


//Mise en page footer
footer
{
    background-color: #F3E9F1;
    margin-top: 2%;
}

#liens
{
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 2%;
    a:hover
    {
        color: #8F5BFE;
    }
    p
    {
        font-size: 1.1em;
    }
}