

//Mise en page logo panier
.fas
{
    font-size: 2.5em;
    background:linear-gradient(to bottom right, #E68A07, #8F5BFE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}