//Définition police
@font-face
{
    font-family: 'Atkinson';
    src: url('../fonts/AtkinsonHyperlegible-Regular.ttf') format('truetype');
}

#bloc_page, input
{
    font-family: 'Atkinson';
}

//Supression mise en page auto liens
a
{
    text-decoration: none;
    color: black;
}

//Mise en page header
#Entete
{
    background-color: #F3E9F1;
    display: flex;
}

#Logosite
{
    width: 87%;
    .logo
    {    
        width: 40%;
    }
}

//Mise en page logo panier
#Panier
{
    width: 10%;
    display: flex;
    align-items: center;
    text-align: right;
    a
    {
        width: 100%;
    }
}

.fas
{
    font-size: 3.1em;
    background:linear-gradient(to bottom right, #E68A07, #8F5BFE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


//Mise en page Liste des produits ajoutés au panier
#ListeProduitsPanier
{
    
    h2
    {
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 2.5em;
        text-align: center;
        color: #8F5BFE;
    }
}

//Mise en page Boutons validation panier et retour achat produits
#Valider
{
    display: flex;
    justify-content: center;
    input
    {
        background-color: white;
        color: #8F5BFE;
        border-style: solid;
        border-color: #8F5BFE;
        font-size: 1em;
        box-shadow: 0px 0px 8px 0px rgba(145, 145, 145, 0.6);
    }
    input:hover
    {
        box-shadow: 0px 0px 10px 0px rgba(30, 30, 30, 0.7);
    }
    .ValiderPanier
    {
        margin-right: 5%;
    }
    .RetourProduit
    {
        margin-left: 5%;
    }
}


//Mise en page footer
footer
{
    background-color: #F3E9F1;
    margin-top: 2%;
}

#liens
{
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 2%;
    a:hover
    {
        color: #8F5BFE;
    }
    p
    {
        font-size: 1.1em;
    }
}